// Breakpoints
$xs: 0;
$sm: 480px;
$premd: 600px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1500px;

$container-width: 1240px;

// Weights
$light: 300;
$normal: 400;
$medium: 500;
$bold: 600;
$bolder: 800;

// Fonts
$display: 'Bebas Neue', sans-serif;
$body: 'Roboto Condensed', sans-serif;

// Colours
$black: #000000;
$white: #FFFFFF;
$grey: #ddd;
$grey--darker: #424242;
$grey--lighter: #fafafa;
$brand-grey: #D4D4D4;
$brand-black: #545454;
$red: #9C0100;
